<div class="form-status">
  <div class="fixed-header">
    <button mat-raised-button >logout</button>
  </div>
  <div class="status-listing">
    <div class="status-panel-parent">
      <div class="post-header">Create Post</div>
      <div class="status-panel create-post">
        
        <mat-form-field class="example-full-width ">
            <form (ngSubmit)="createPost()" #postForm="ngForm">
          <input
            matInput
            placeholder="Write something here......"
            ngModel
            type="name"
            required
            name="name"
          />
          <div class="image-circle"></div>
         
            <button mat-raised-button type="submit" [disabled] = "!postForm.valid" color="primary">Post</button>
          </form>
        </mat-form-field>
       
      </div>
      <div class="post-header post">Posts</div>
      <mat-card class="example-card" *ngFor="let post of posts">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ post?.first_name + " "  + post?.last_name }}</mat-card-title>
          <!-- <mat-card-subtitle>{{ post.subtitle }}</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content (click)="onComments(post)">
          <p>
            {{ post?.post }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <i class="material-icons"> thumb_up </i>LIKE
          </button>
          <button mat-button (click)="onComments(post)">
            <i class="material-icons" > mode_comment </i>Comments
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
