<div class="login">
  <div class="card-main-container">
    <div class="fixed-header">
      <div class="login-comp">
        <form  (ngSubmit)="login()" #loginForm="ngForm">
        <mat-form-field >
          <input
            matInput
            placeholder="Email"
            ngModel
            name="email"
            required
            email
          />
        </mat-form-field>
        <mat-form-field >
          <input
            matInput
            placeholder="Password"
            ngModel
            type="password"
            name="password"
            required
          />
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled] = "!loginForm.valid" color="primary">
          Login
        </button></form>


        <button
          class="register-btn"
          mat-raised-button
          color="primary"
          (click)="openDialog()"
        >
          Register
        </button>
      
      </div>
    </div>
  </div>
</div>
